#coursesListPage {
  .loading-spinner {
    padding: 25px;
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toolbar {
    margin-top: 50px;
    height: 70%;
  }

  #tableCourses {
    height: 97%;
    overflow: auto;
    width: 600px; /* ou defina uma largura específica em pixels */
    padding: 0;
    background: white;
    border-radius: 32px;
    overflow-x: auto; /* rolável horizontalmente */

    .mat-column-icon {
      width: 50px;
    }

    .button-tab {
      white-space: nowrap;
      overflow: hidden;
    }

    tr:hover {
      background: #d0e7ef !important;
    }

    .mat-tab-label-active {
      border-bottom: 2px solid #1F7CCC;
      opacity: 1 !important;
    }

    .mat-ink-bar {
      height: 0px !important;
    }

    table th {
      overflow: hidden;
      color: white;
      border: 1px solid #1F7CCC;
      background: #1F7CCC;
    }

    table td {
      height: 48px;
      color: black;
    }
  }
}
